body {
  font-family: Inter !important;
  font-size: 13pt !important;
}

.banner-text {
    font-family: Montserrat;
    font-weight: 100 !important;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255);
}

.banner {
  background-image: url("https://images.unsplash.com/photo-1446776877081-d282a0f896e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.res-gen-banner {
  background-image: url("https://images.unsplash.com/photo-1477696957384-3b1d731c4cff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.res-ds-banner {
  background-image: url("https://images.unsplash.com/photo-1564951405282-6e79578207c9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.res-ae-banner {
  background-image: url("https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner2 {
  background-image: url("images/banner2.png");
  height: 300px;
  background-position: 50% 78%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner3 {
  background-image: url("images/banner3.jpg");
  height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.row-info {
  display: flex;
}

.row-links {
  display: flex;
  text-align: center;
}

.link-text {
  margin-top: 25%;
  margin-bottom: 25%;
}

.row-avatar {
  border-radius: 50%;
  width: 50%;
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.showcase-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}