:root {
  --var-base03: #002b36;
  --var-base02: #073642;
  --var-base01: #586e75;
  --var-base00: #657b83;
  --var-base0: #839496;
  --var-base1: #93a1a1;
  --var-base2: #eee8d5;
  --var-base3: #fdf6e3;
  --var-yellow: #b58900;
  --var-orange: #cb4b16;
  --var-red: #dc322f;
  --var-magenta: #d33682;
  --var-violet: #6c71c4;
  --var-blue: #268bd2;
  --var-cyan: #2aa198;
  --var-green: #859900;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--var-base03);
    --color-hover-anim: var(--var-base02);
    --color-text: var(--var-base0);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: var(--var-base3);
    --color-hover-anim: var(--var-base2);
    --color-text: var(--var-base00);
  }
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

@media only screen and (min-width: 800px) {
  body {
    padding: 5% 25% 5% 25%;
  }
}

@media only screen and (max-width: 800px) {
  body {
    padding: 5% 5% 5% 5%;
  }

  .top-block {
    flex-direction: column;
  }

  .menu {
    flex-direction: column;
  }

  .project-row {
    flex-direction: column;
  }
}

#top {
  text-align: center;
  font-size: 5rem;
  margin: 0;
}

#title {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

#subtitle {
  margin-top: 2.5%;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 300;
}

p a {
  color: var(--var-red);
}

.top-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-block img {
  border-radius: 50%;
  width: 150px;
}

.menu {
  padding-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.menu a {
  text-decoration: none;
  font-size: 1.25rem !important;
  color: var(--var-red);
  font-weight: 300;
  border: solid 1px rgba(255, 255, 255, 0);
  border-radius: 5px;
  padding: 5px;
}

.menu a:hover {
  border: solid 1px var(--var-red);
  transition: border 0.15s ease-in 100ms;
}

.info-block {
  margin-top: 5%;
}

.info-block p {
  font-size: 1.25rem;
  font-weight: 300;
}

.project-block {
  margin-top: 5%;
}

#projects-title {
  font-size: 1.5rem;
  font-weight: 300;
}

.project-row {
  display: flex;
  gap: 5%;
  margin-bottom: 5%;
}

.project-card {
  display: block;
  color: var(--var-base00);
  text-decoration: none;
  border: 2px solid var(--var-red);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  padding: 2%;
  width: 95%;
}

.project-card:hover {
  background-color: var(--color-hover-anim);
  transition: background-color 0.15s ease-in 100ms;
}

.project-card img {
  width: 100%;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 300;
}

.card-description {
  font-size: 1.25rem;
  font-weight: 200;
}