body {
  /* https://colorhunt.co/palette/1919192d4263c84b31ecdbba */
  background-color: #082032;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

@media only screen and (min-width: 800px) {
  body {
    padding: 5% 25% 5% 25%;
  }
}

@media only screen and (max-width: 800px) {
  body {
    padding: 5% 5% 5% 5%;
  }

  .top-block {
    flex-direction: column;
  }

  .menu {
    flex-direction: column;
  }

  .project-row {
    flex-direction: column;
  }
}

#top {
  text-align: center;
  font-size: 5rem;
  margin: 0;
}

#title {
  font-size: 3rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}

#subtitle {
  margin-top: 2.5%;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 300;
}

p a {
  color: #FF4C29;
}

.top-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-block img {
  border-radius: 50%;
  width: 150px;
}

.menu {
  padding-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.menu a {
  text-decoration: none;
  font-size: 1.25rem !important;
  color: #FF4C29;
  font-size: 1.25rem;
  font-weight: 200;
  border: solid 1px rgba(255, 255, 255, 0);
  border-radius: 5px;
  padding: 5px;
}

.menu a:hover {
  border: solid 1px #FF4C29;
  transition: border 0.15s ease-in 100ms;
}

.info-block {
  margin-top: 5%;
}

.info-block p {
  font-size: 1.25rem;
  font-weight: 200;
  color: white;
}

.project-block {
  margin-top: 5%;
}

#projects-title {
  font-size: 1.25rem;
}

.project-row {
  display: flex;
  gap: 5%;
  margin-bottom: 5%;
}

.project-card {
  display: block;
  color: white;
  text-decoration: none;
  border: 2px solid #FF4C29;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  padding: 2%;
  width: 95%;
}

.project-card:hover {
  background-color: #334756;
  transition: background-color 0.15s ease-in 100ms;
}

.project-card img {
  width: 100%;
}

.card-title {
  font-weight: 300;
}

.card-description {
  font-weight: 200;
}