@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;0,700;1,500;1,700&display=swap");

:root {
  --var-bg-dark: #08313a;
  --var-hover-dark: #0c4855;
  --var-highlight-dark: #00e6b8;
  --var-text-dark: #d5dcd8;

  --color-bg: var(--var-bg-dark);
  --color-hover-anim: var(--var-hover-dark);
  --color-text: var(--var-text-dark);
  /* --color-highlight: var(--var-highlight-dark); */
  --color-highlight: #27a573;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--var-bg-dark);
    --color-hover-anim: var(--var-base02);
    --color-text: var(--var-text-dark);
    --color-highlight: var(--var-highlight-dark);
  }

  ::selection {
    color: var(--var-base2);
    background-color: var(--var-base01);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: var(--var-base3);
    --color-hover-anim: var(--var-base2);
    --color-text: var(--var-base00);
    --color-highlight: var(--var-blue);
  }

  ::selection {
    background-color: var(--var-base1);
    color: var(--var-base01);
  }
} */

body {
  /* background-color: var(--color-bg);
  color: var(--color-text); */
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */

  /* font-family: "Inter", sans-serif; */
  font-family: "Cormorant Garamond", serif;
  color: #355c7d;
  margin: 0;
}

@media only screen and (min-width: 800px) {
  .padded-block {
    padding: 5% 20% 2% 20%;
  }

  .project-block {
    padding: 0% 15% 5% 15%;
  }
}

@media only screen and (max-width: 850px) {
  .padded-block {
    padding: 5% 5% 2% 5%;
  }

  .project-block {
    padding: 0% 5% 5% 5%;
  }

  .top-block {
    flex-direction: column;
  }

  .menu {
    flex-direction: column;
  }

  .project-row {
    flex-direction: column;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: 75vw !important;
  }

  .top-block img {
    margin-top: 5%;
  }
}

#top {
  text-align: center;
  font-size: 5rem;
  margin: 0;
}

#title {
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

#subtitle {
  margin-top: 2.5%;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 300;
}

p a {
  color: var(--color-highlight);
  text-decoration: none;

  border-bottom: solid 1px rgba(255, 255, 255, 0);
  /* color: #0e8388; */
}

p a:hover {
  border-bottom: solid 1px var(--color-highlight);
  transition: border 0.15s ease-in 100ms;
}

.top-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-block img {
  border-radius: 50%;
  width: 150px;
}

.menu {
  padding-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.menu a {
  transition: border 0.15s ease-in 100ms;
  text-decoration: none;
  font-size: 1.25rem !important;
  color: var(--color-highlight);
  font-weight: 300;
  border-bottom: solid 1px rgba(255, 255, 255, 0);
  /* border-radius: 5px; */
  /* padding: 5px; */
  margin: 5px;
}

.menu a:hover {
  border-bottom: solid 1px var(--color-highlight);
  transition: border 0.15s ease-in 100ms;
}

.info-block {
  margin-top: 5%;
}

.info-block p {
  font-size: 1.35rem;
  font-weight: 300;
}

#projects-title {
  font-size: 1.5rem;
  font-weight: 300;
}

.project-row {
  display: flex;
  gap: 2%;
  margin-bottom: 2%;
}

.project-block {
  width: 100;
}

.projects-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 35vw 35vw;
  gap: 2% 2%;
  justify-content: center;
}

.project-card {
  display: block;
  color: var(--var-base00);
  text-decoration: none;
  border: 2px solid var(--color-highlight);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  padding: 2%;
  width: 95%;
  transition: background-color 0.15s ease-in 100ms;
}

.project-card:hover {
  /* background-color: var(--color-hover-anim); */
  background-color: #d9fcee;
  /* border: 5px solid var(--color-highlight); */
  transition: background-color 0.15s ease-in 100ms;
}

.project-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 2%;
  color: var(--color-highlight);
}

.card-description {
  /* font-weight: 300; */
  font-size: 1.15rem;
}

.tech-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tech-item {
  margin: 0;
  border: 1px solid var(--color-highlight);
  border-radius: 5px;
  padding: 3px;
  font-family: monospace;
  color: var(--color-highlight);
}

.highlight {
  background-color: #d3ffee;
}

.highlight a {
  text-decoration: underline;
  color: #158a5b;
}

.highlight a:hover {
  border-bottom: none;
}

.resume-body {
  font-size: larger;
}

.resume-body h1 {
  margin-top: 50px;
  margin-bottom: 0;
}

.spaced-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
}

.spaced-title p {
  margin-bottom: 0;
}

tr {
  border-bottom: 2px solid #000000;
}

tr:nth-child(even) {
  background-color: #e4fbf2;
}

#resume-title {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
